.site-title, .site-title a, .site-description, .site-description a {
    color: #ffffff
}

.site-title a {
    border-color: #ffffff
}

img.wp-smiley,
img.emoji {
    display: inline !important;
    border: none !important;
    box-shadow: none !important;
    height: 1em !important;
    width: 1em !important;
    margin: 0 .07em !important;
    vertical-align: -0.1em !important;
    background: none !important;
    padding: 0 !important;
}

/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    background-color: #32313b;

    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;

    outline: none;
    transition: 0.4s;
    border: 1px solid #484653;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    background-color: #484653;

}

/* Style the accordion panel. Note: hidden by default */
div.panel {
    padding: 0 18px;
    /*background-color: white;*/
    display: none;
}

.cfg_spacer{
    border-top: 1px solid #484653;
    padding-bottom: 25px;
    margin-top: 25px;
}

.mc4wp-form-fields input{
    margin: 5px;
}

.cfg-brand-title {
  position: absolute;
  width: 40px;
  height: 20px;
  z-index: 15;
  left: 50%;
  top: -30px;
  margin: 0 0 0 -18px;
}

.dropzone.dz-clickable{
    margin-top: 30px;
    margin-bottom: 7px;
}
.dropzone {
    min-height: 250px;
    border: 1px solid rgba(0,0,0,0.3);
    background: #484653;
    padding: 20px 20px;
}
.cfg-config-keyword{
    color:#ff9292;
}

a.tooltip {outline:none; }
a.tooltip strong {line-height:30px;}
a.tooltip:hover {text-decoration:none;}
a.tooltip span {
    z-index:10;display:none; padding:14px 20px;
    margin-top:-30px; margin-left:28px;
    width:300px; line-height:16px;
}
a.tooltip:hover span{
    display:inline; position:absolute; color:#111;
    border:1px solid #DCA; background:#fffAF0;}
.callout {z-index:20;position:absolute;top:30px;border:0;left:-12px;}

/*CSS3 extras*/
a.tooltip span
{
    border-radius:4px;
    box-shadow: 5px 5px 8px #CCC;
}
